body {
    background-color: aqua;
}
h1 {
    font-size: 60px;
    color: darkblue;
    font-family: Comic Sans MS;
}
p {
    font-family: Georgia;
}
.p1 {
    color: orange;
}
.p2 {
    text-align: right;
}
h4,h3 {
    font-family: Georgia;
}
.color {
    color: white;
}
.link:hover {
    color: red;
}
.link2:hover {
    color: white;
    background-color: blue;
}
.link {
    color: white;
}